<div class="container center aboutView">
  <h4>What is reCord?</h4>
  <p>
    reCord is a progress tracker used specifically for voice therapy exercises called Vocal Functions. Using reCord gives users an easy way to track their exercises at home, replacing the pen and paper.  The application utilizes a built-in pitch-pipe to generate the note the user chooses for their exercise, eliminating a need for a piano or pitch-pipe in order to do this kind of therapy at home.
  </p>
  <h4>
    Vocal Function Exercises
  </h4>
  <p>
    Vocal Function Exercises are systematic exercises used to strengthen the vocal cords, similar in theory to physical therapy.
  </p>
  <p>
    The goal of each exercise is to sustain a pitch on a given vowel without breaks for as long as possible. The user will first choose a vowel and a pitch. They will play the pitch, take a supported breath, start the timer and begin vocalizing. The user can save their exercises, and export the list to their therapist to show progress.
  </p>
</div>
