<div class="container">
  <h1>Exercises</h1>
    <div class="row" ng-repeat= "exercise in exercises | orderBy:'dateOfExercise':true">
          <div class="card-panel col s12">
            <div class="col s3"><h5>{{exercise.dateOfExercise | date : 'short'}}</h5></div>
            <div class="col s3"><h5>{{exercise.milliseconds | date : 's'}} seconds</h5></div>
            <div class="col s3"><h5>{{exercise.note}}</h5></div>
            <div class="col s3">
              <a class="btn" data-target='delete--{{exercise.id}}' modal>Delete</a>
            </div>
          </div>


    <!-- delete modal content -->
          <div id="delete--{{exercise.id}}" class="modal">
                <div class="modal-content">
                      <h4>Delete this exercise?</h4>
                      <h5>{{exercise.dateOfExercise | date : 'short'}}</h5>
                      <h5>{{exercise.milliseconds | date : 's'}} seconds</h5>
                </div>
          <div class="modal-footer">
            <a ng-click="deleteExercise(exercise.id)" class="modal-action modal-close waves-effect waves-green btn-flat">yes</a>
            <a class="modal-action modal-close waves-effect waves-green btn-flat">no</a>
            </div>
          </div>
    </div>
</div>
