<div class="container exerciseView">
<div class="row exerciseHeader">
  <h4 class="col s11">MY EXERCISES</h4>
  <a class="btn downloadBtn col s1" data-target='exportModal' modal><i class="material-icons">file_download</i></a>
</div>
    <div class="row" ng-repeat= "exercise in exercises | orderBy:'dateOfExercise':true">
          <div class="card-panel col s12">
            <div class="col s4"><h5>{{exercise.dateOfExercise | date : 'short'}}</h5></div>
            <div class="col s3"><h5>{{exercise.milliseconds | date : 's'}} seconds</h5></div>
            <div class="col s2"><h5>{{exercise.note}}</h5></div>
            <div class="col s1"><h5>{{exercise.vowel}}</h5></div>
            <div class="col s2">
              <a class="btn-floating btn right" data-target='delete--{{exercise.id}}' modal>
                <i class="material-icons">delete</i>
              </a>
            </div>
          </div>


    <!-- delete modal content -->
          <div id="delete--{{exercise.id}}" class="modal deleteModal">
                <div class="modal-content">
                      <h4>Delete this exercise?</h4>
                      <h5>{{exercise.dateOfExercise | date : 'short'}}</h5>
                      <h5>{{exercise.milliseconds | date : 's'}} seconds</h5>
                      <h5>{{exercise.vowel}}</h5>
                </div>
          <div class="modal-footer">
            <a ng-click="deleteExercise(exercise.id)" class="modal-action modal-close waves-effect waves-green btn-flat">yes</a>
            <a class="modal-action modal-close waves-effect waves-green btn-flat">no</a>
            </div>
          </div>
    </div>

    <!-- export modal content -->
    <div id="exportModal" class="modal exportModal">
          <div class="modal-content">
            <h4>Export?</h4>
            <div class= "box" id="export-this">
              <h5>{{name}}</h5>
              <div class="row" ng-repeat= "exercise in exercises | orderBy:'dateOfExercise':true">
                <div class="col s12">
                  <p class="col s5">{{exercise.dateOfExercise | date : 'short'}}</p>
                  <p class="col s3">{{exercise.milliseconds | date : 's'}} seconds</p>
                  <p class="col s2">{{exercise.note}}</p>
                  <p class="col s2">{{exercise.vowel}}</p>
                  <hr />
                </div>
              </div>
            </div>
          </div>
      <div class="modal-footer">
        <a ng-click="makePDF()" class="modal-action modal-close waves-effect waves-green btn-flat">YES</a>
        <a class="modal-action modal-close waves-effect waves-green btn-flat">NO</a>
      </div>
    </div>
<!-- delete ALL modal -->
        <div id="deleteAllModal" class="modal deleteModal">
              <div class="modal-content">
                    <h4>Delete All Exercises?</h4>
              </div>
        <div class="modal-footer">
          <a ng-click="deleteAll()" class="modal-action modal-close waves-effect waves-green btn-flat">yes</a>
          <a class="modal-action modal-close waves-effect waves-green btn-flat">no</a>
          </div>
        </div>
  <!-- end of modals -->
  <div class="dltAllBtn center">
    <a class="btn btn-small red" data-target="deleteAllModal" modal>Delete All</a>
  </div>
</div>
