<div class="container">
  <h1>Exercises</h1>
  <a data-target="deleteAllModal" class="btn" modal>Delete All</a>
  <a class="btn" data-target='exportModal' modal>Export</a>
    <div class="row" ng-repeat= "exercise in exercises | orderBy:'dateOfExercise':true">
          <div class="card-panel col s12">
            <div class="col s3"><h5>{{exercise.dateOfExercise | date : 'short'}}</h5></div>
            <div class="col s3"><h5>{{exercise.milliseconds | date : 's'}} seconds</h5></div>
            <div class="col s3"><h5>{{exercise.note}}</h5></div>
            <div class="col s3">
              <a class="btn" data-target='delete--{{exercise.id}}' modal>Delete</a>
            </div>
          </div>


    <!-- delete modal content -->
          <div id="delete--{{exercise.id}}" class="modal">
                <div class="modal-content">
                      <h4>Delete this exercise?</h4>
                      <h5>{{exercise.dateOfExercise | date : 'short'}}</h5>
                      <h5>{{exercise.milliseconds | date : 's'}} seconds</h5>
                </div>
          <div class="modal-footer">
            <a ng-click="deleteExercise(exercise.id)" class="modal-action modal-close waves-effect waves-green btn-flat">yes</a>
            <a class="modal-action modal-close waves-effect waves-green btn-flat">no</a>
            </div>
          </div>
    </div>

    <!-- export modal content -->
    <div id="exportModal" class="modal">
          <div class="modal-content">
            <h4>Export?</h4>
            <div class= "box" id="export-this">
              <h5>{{name}}</h5>
              <div class="row" ng-repeat= "exercise in exercises | orderBy:'dateOfExercise':true">
                <div class="col s12">
                  <div class="col s5"><p>{{exercise.dateOfExercise | date : 'short'}}</p></div>
                  <div class="col s4"><p>{{exercise.milliseconds | date : 's'}} seconds</p></div>
                  <div class="col s3"><p>{{exercise.note}}</p></div>
                </div>
              </div>
            </div>
          </div>
    <div class="modal-footer">
      <a ng-click="makePDF()" class="modal-action modal-close waves-effect waves-green btn-flat">YES</a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat">NO</a>
      </div>
    </div>

    <div id="deleteAllModal" class="modal">
          <div class="modal-content">
                <h4>Delete All Exercises?</h4>
          </div>
    <div class="modal-footer">
      <a ng-click="deleteAll()" class="modal-action modal-close waves-effect waves-green btn-flat">yes</a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat">no</a>
      </div>
    </div>
</div>
