<div class="container center">
  <h2>reCord</h2>
  <div input-field>
      <input type="email" placeholder="Email">
      <input type="text" placeholder="Password">
  </div>
  <div>
    <a class="btn">Login</a>
    <a class="btn" data-target='newUser' modal>Create Account</a>
  </div>
</div>

<!-- NEW USER MODAL -->
<div id="newUser" class="modal">
    <div class="modal-content">
        <h4>Modal header</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>
