<nav class= "NavBar">
    <div class="nav-wrapper">
      <a class="logo">reCord</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="col s4"><a class="navLink" href="#!/exercises"><i class="tiny material-icons left">list</i>Exercises</a></li>
        <li class="col s4"><a class="navLink" href="#!/timer"><i class="tiny material-icons left">timer</i>Timer</a></li>
        <li class="col s4"><a class="navLink" href="#!/logout"><i class="tiny material-icons left">settings</i>Logout</a></li>
      </ul>
    </div>
  </nav>
