<div ng-controller="SoundCtrl" class="timerView">
<div class="container center row">
  <div id="noteDiv" class="col s6 left">
    <p>SELECT A VOWEL</p>
    <div input-field class="selectBox col s12">
      <select class="browser-default right" name="selectedVowel" material-select watch ng-model="UserVowel.vowel">
        <option value="">choose vowel</option>
        <option value="[e]">[e] "ay"</option>
        <option value="[i]">[i] "ee"</option>
        <option value="[o]">[o] "oh"</option>
        <option value="[u]">[u] "oo"</option>
        <option value="[a]">[a] "ah"</option>
        <option value="[oʊl]">[oʊl] "ol"</option>
      </select>
    </div><br />
    <p>SELECT A PITCH</p>
    <div input-field class="selectBox col s8">
      <select class="browser-default right" name="selectedNote" ng-model="selected.note" ng-options="note.note for note in notesArray" material-select watch>
        <option value="">choose pitch</option>
      </select>
    </div>
    <div class="soundBtns col s4">
      <a class="playBtn btn left" ng-show="!tonePlaying" ng-click="playTone()">
        <i class="large material-icons">play_arrow</i>
      </a>
      <a ng-show="tonePlaying" ng-click="stopTone()" class="playBtn btn left">
        <i class="large material-icons">pause</i>
      </a>
    </div>
  </div>

  <div id="timerCircle"  class="col s6" ng-controller="TimeCircleCtrl">
    <div class="progress-wrapper">
        <div class="progress-circle ng-cloak" ng-style="getStyle()">
          <div class="secondsDiv">
            <h1 class="elapsed">{{ elapsedSeconds | date: 's'}}</h1>
            <span>SECONDS</span>
          </div>
        </div>
          <round-progress
                    max="60"
                    current= "timerSeconds"
                    color="{{currentColor}}"
                    bgcolor="{{bgColor}}"
                    radius="{{ radius*1.5 }}"
                    rounded="rounded"
                    clockwise="clockwise"
                    responsive="responsive"
                    stroke="{{ stroke*1.5 }}"
                    animation="{{ currentAnimation }}">
          </round-progress>
      </div>
      <div>
        <a ng-show="!timerStarted" ng-click="start()" class="btn-floating btn-large">start</a>
        <a ng-show="timerStarted" ng-click="stop();stopTone()" class="btn-floating btn-large" data-target='saveModal' modal>stop</a>
        <a ng-click="reset()" class="btn-floating btn-large">reset</a>
      </div>
  </div>
</div>

<!-- Save Modal Content -->
    <div id="saveModal" class="modal myModal">
          <div class="modal-content">
                <h4>Save?</h4>
                <h5>Date: {{startTime | date : 'shortDate'}}</h5>
                <h5>Total Time: {{totalElapsedTime | date: 's'}} seconds</h5>
                <h5>{{selected.note.note}}</h5>
                <h5>{{UserVowel.vowel}}</h5>
          </div>
    <div class="modal-footer">
      <a ng-click="makeNewObj()" class="modal-action modal-close btn-flat">yes</a>
      <a class="modal-action modal-close btn-flat">no</a>
      </div>
    </div>
</div>
