<div class="container center">
  <div id="noteDiv" ng-controller="SoundCtrl">
    <p>NOTE</p>
    <div input-field>
      <select class="browser-default" name="selectedNote" ng-model="selected.note" ng-options="note.note for note in notesArray" material-select watch>
      <option value="">Select a note</option>
      <option></option>
      </select>
    </div>
    <div>
      <a ng-show="!tonePlaying" ng-click="playTone()" class="btn">Play</a>
      <a ng-show="tonePlaying" ng-click="stopTone()" class="btn">Mute</a>
    </div>
  </div>
<div>
  <div id="timerCircle">
      <h3>{{ elapsedSeconds | date: 's'}}</h3>
      <div>
        <a ng-click="start()" class="btn">start</a>
        <a ng-click="stop()" class="btn" data-target='saveModal' modal>stop</a>
        <a ng-click="reset()" class="btn">reset</a>
      </div>
  </div>

<div class="footer-copyright">
  <div class="container">
    DATE
    <a class="right">reCord</a>
  </div>
</div>

<!-- Save Modal Content -->
    <div id="saveModal" class="modal">
          <div class="modal-content">
                <h4>Save?</h4>
                <h5>Date: {{startTime | date : 'shortDate'}}</h5>
                <h5>Total Time: {{totalElapsedTime | date: 's'}} seconds</h5>
          </div>
    <div class="modal-footer">
      <a ng-click="makeNewObj()" class="modal-action modal-close waves-effect waves-green btn-flat">yes</a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat">no</a>
      </div>
    </div>
</div>
